@import "bootstrap/scss/bootstrap";
* {
  transition: all 0.5s ease;
}

html {
  font-size: 16px;
}

body {
  position: relative;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dark {
  color: #fff;
  background-color: #000;
  border-color: #fff;
}

.light {
  color: #000;
  background-color: #fff;
  border-color: #000;
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-temperature-container {
  font-size: 5rem;
}

.location-info-container {
  font-size: 1.5rem;
}

.invert-img {
  filter: invert(1);
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  margin-bottom: 0.1rem;
}

.ui-button {
  border: 2px solid;
  border-radius: 5px;
  padding: 0.2em 1em;
}